<template name="show_room"> {{ title name }}
    <div class="row">
        <div class="col m8">
            <table class="striped highlight chatbox">
                <tbody>
                    {{# if messages }}
                        {{# each messages }}
                            {{> _convo_line }}
                        {{/ each }}
                    {{ else }}
                        <tr>
                            <td>Type below to start a new chat.</td>
                        </tr>
                    {{/ if }}
                </tbody>
            </table>
        </div>
        <div class="col m4">
            <input type="text" placeholder="Room Name" class="js-room-name">
            <p>I speak:</p>
            <div class="switch">
                <label>
                    English
                    <input type="checkbox" id="lang-select">
                    <span class="lever"></span>
                    German
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <input type="text" id="send-msg" placeholder="Send a message">
        </div>
    </div>
</template>

<template name="_convo_line">
    <tr>
        <td>{{ sender }}</td><td>{{ my_text }}</td>
    </tr>
</template>
